:root {
  --light: #FFF;
  --light-mid: #EAEAEA;
  --dark: #0B0B0C;
  --gray: #BDBFC1;
  --gray-dark: #949597;
  --red: #FA2714;
  --blue: #0071BD;
  --blue-darker: #015289;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fonts {
  font-family: 'Itim', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
}

body {
  background-color: var(--light);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: var(--dark);
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
}

a, a:hover, button, button:hover, li, li:hover, img, img:hover, span, span:hover, section div, section div:hover, h1, h1:hover, h2, h2:hover, h3, h3:hover, h4, h4:hover, h5, h5:hover, h6, h6:hover {
  transition: all 0.5s ease-in-out;
}

a, button {
  color: var(--blue);
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}
a:hover, button:hover {
  color: var(--blue-darker);
  cursor: pointer;
}
ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0;
}

.center {
  text-align: center;
}

.japanese-serif {
  font-family: 'Noto Serif JP', serif;
}
.japanese-sans {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.content {
  width: 1200px; max-width: 100%;
  text-align: center;
}
.main {
  flex: 1;
  text-align: left;
  position: relative;
}


/* HEADER */
header {
  padding: 30px;
}
header h1 {
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-darker);
}
header img {
  width: 60px;
  margin-right: 10px;
}
nav {
  margin-top: 5px;
  font-size: 1.1em;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
}
nav ul li a.active {
  pointer-events: none;
  color: var(--blue-darker);
}

h2 {
  font-size: 2em;
}


/* PAGE LISTS */
.main-links:not(:last-child) {
  margin-bottom: 20px;
}
.main-links h3 {
  text-transform: capitalize;
  font-size: 1.5em;
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}
.page-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-li a {
  display: flex;
  align-items: stretch;
}
.page-li li {
  text-align: center;
  padding: 20px;
  margin: 0 8px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-li li span {
  display: block;
  line-height: 1.2;
  color: var(--dark);
}
.page-li .kanji {
  font-size: 2.8em;
}
.page-li .ja {
  font-size: 1.8em;
}
.page-li .eng {
  font-style: italic;
  color: var(--gray-dark);
}
.page-li li:hover {
  transform: scale(1.05);
}


/* WRITING CHART */
.writing-chart {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}
.writing-chart ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
}
.writing-chart ul li {
  padding: 10px;
  border: 1px solid var(--gray);
  margin: -1px 0 0 -1px;
  text-align: center;
}
.writing-chart .char {
  display: block;
  font-size: 3.2em;
  font-family: 'Noto Sans JP', sans-serif;
}
.writing-chart .key {
  font-style: italic;
  color: var(--gray-dark);
  font-size: 1.3em;
}


/* FOOTER */
footer {
  font-style: italic;
  padding: 20px;
}
footer a, footer button {
  font-style: italic;
  color: var(--dark);
}
footer ul li {
  display: inline-block;
  margin: 0;
}
footer ul li i {
  margin-left: 12px;
}


body.stop-transitions * {
  transition: none !important;
}


/* ADDITIONAL STYLING */
::-moz-selection {
  color: var(--light);
  background: var(--blue-darker);
}
::selection {
  color: var(--light);
  background: var(--blue-darker);
}


/* PAGE TRANSITIONS */
.fade-enter { 
  transition: all 200ms;
  opacity: 0;
}
.fade-enter-active, .fade-exit {
  transition: all 200ms;
  opacity: 1;
}
.fade-exit-active {
  transition: all 200ms;
  opacity: 0;
}
.fade-enter-active, .fade-exit-active{
  position: absolute;
  top: 0;
  width: 1200px; max-width: 100%;
}