:root {
  --white: #FFF;
  --black: #000;
  --red: #C41A09;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fonts {
  font-family: 'Itim', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
}

body {
  background-color: var(--white);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: var(--black);
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
}

a, a:hover, button, button:hover, li, li:hover, img, img:hover, span, span:hover, section div, section div:hover, h1, h1:hover, h2, h2:hover, h3, h3:hover, h4, h4:hover, h5, h5:hover, h6, h6:hover {
  transition: all 0.5s ease-in-out;
}

a, button {
  color: var(--red);
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 1em;
}
a:hover, button:hover {
  color: var(--black);
  cursor: pointer;
}
ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.japanese-serif {
  font-family: 'Noto Serif JP', serif;
}
.japanese-sans {
  font-family: 'Noto Sans JP', sans-serif;
}


/* FOOTER */
footer {
  font-style: italic;
}
footer a, footer button {
  font-style: italic;
  color: var(--black);
}
footer ul li {
  display: inline-block;
  margin: 0;
}
footer ul li i {
  margin-left: 12px;
}


body.stop-transitions * {
  transition: none !important;
}